@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  background-color: #f2f2f2;
}

h1 {
  font-weight: bold;
  color: #808080;
}

div {
  box-sizing: border-box;
}

nav.navbar {
  margin-bottom: 1rem;
}

/* author draft css start*/
.draft-scroll-container{
  padding-bottom: 2%;
  height: 60% !important;
  width: 100% !important;
}

.draft-author-case-container{
  min-width: 25%;
  margin: 10px;
  background-color: #ffffff;
  border-color: #808080;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
}

.draft-author-description{
  font-size: 12px;
  color: #808080;
  margin-right: 3%;
  margin-left: 3%;
}

.draft-case-title{
  font-size: 18px;
  font-weight: bold;
  color: #808080;
  margin-right: 3%;
  margin-left: 3%;
}

.draft-case-image{
  background-color: #e6e6e6;
  margin-top: 7%;
}

.author-panel-button {
  width: 33%;
  background-color: #a2a2a2;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  cursor: pointer;
}

.control-button {
   flex: 10%;
   max-width: 48px;
   max-height: 48px;
   margin-right: 10px;
   color: #495057;
}

/* author draft css ended*/

/* author home css start*/
.home-text{
  color: #808080;
  height: 10%;
  width: 100%;
  font-size: 35px;
  font-weight: bold;
}
@media (max-width: 767.98px) {
  .home-text{
    font-size: 20px;

  }
}
.home-content-padding{
  background-color: #f2f2f2;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 70px;
}
.home-author-box-content{
  width: 33%;
  margin: 10px;
  background-color: #ffffff;
  border-color: #808080;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  cursor: pointer;
}
.home-author-case-box{
  font-size: 40px;
  color: #808080;
  font-weight: bold;
  text-align: center;
}
.home-author-case-box:hover{
  color: black;
  text-decoration: none;
}
.home-author-sub-text{
  font-size: 15px;
}
.home-author-image {
   object-fit: contain;
   max-width: 100%;
   max-height: 100%;
}
/* author home css ended*/


.grey-text{
  color: rgb(120,120,120);
}
.modal-border{
  border-style: solid;
  border-color: rgb(180,180,180);
  border-radius: 7px;
  margin-bottom: 8px;
  padding: 13px;
}
.no-spacing{
  padding: 0px;
  margin: 0px;
}
.hidden-overflow{
  overflow: hidden;
}
.index-boot-padding{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.home-author-padding{
  background-color: #ffffff;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 60px;
}
.scroll-y{
  overflow-x: hidden;
  overflow-y: scroll;
}
.scroll-x{
  overflow-x: scroll;
  overflow-y: hidden;
}

.container-padding{
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.parent-dcc-margin{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom:15px;
}
.std-border, .std-panel, .navbar-light {
  border: .1rem solid #707070;
  border-radius: .25rem;
}

.std-panel, .navbar-light {
  background-color: white;
}

.std-border {
  margin: .5rem;
}

.std-monospace {
  font-family: monospace;
  font-size: 10pt;
}

.navbar-light {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-sub {
  border-left: .1rem solid #707070;
  border-right: .1rem solid #707070;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.lead {
  font-size: 10pt;
  color: #808080;
}

.btn-secondary {
  border-color: #707070;
  background-color: #a6a6a6;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-nav {
  background-color: white;
  font-weight: normal;
  color: #707070;
}

.sticky-top {
  z-index: 0;
}

.custom-switch {
  font-size: 10pt;
  text-align: center;
}

/* <TODO> Align with Bootstrap */
.panel-label {
  color: #ffffff;
  background-color: #a6a6a6;
  padding-left: .5rem;
}

.sty-navigation-expansion {
   width: .700rem;
   height: .963rem;
}