@charset "UTF-8";

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 4vh;
    margin-left: 10px;
    margin-right: 10px;
}

.styt-std-border {
   border: 1px solid gray;
   border-radius: 5px;
   margin: 5px;
}

/* picture-up-left
 *****************/

.styt-pul-main {
   width: 98%;
   height: 100%;
   font-size: 4vh;
   margin-left: 1%;
   margin-right: 1%;
}

.styt-pul-main img {
   width: 30%;
   object-fit: contain;
   float: left;
   margin-right: 10px;
   margin-bottom: 10px;
}

/* note
 ******/

.styn-note {
   background-color: White;
   padding: 10px;
   border-radius: 1px;
   box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.5);
   margin: 15px;
   width: 100%;
   height: 100%;
}

.styn-control-button {
   width: 48px;
   height: 48px;
}