@charset "UTF-8";

/* Template Panels Jacinto */
/***************************/

/* Trigger DCC */

.dcc-trigger-theme {
   border: 1px solid lightgray;
   border-radius: 5px;
   margin: 5px;
   color: #eeee;   
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}
.dcc-trigger-theme:hover {
   color: #ffff;
   font-weight: bold;
   cursor: pointer;
}

/* Input DCC */

.dcc-input-theme {
   font-size:28px;
   font-family:Tahoma, Geneva, sans-serif;
   fill:#707070;
   stroke:none;
}

/* Selector DCC */

.dcc-state-select-theme:hover {
   cursor: pointer;
}

.dcc-state-select-0-theme {
   background-color: lightgrey;
}

.dcc-state-select-1-theme {
   background-color: green;
}

.dcc-state-select-2-theme {
   background-color: blue;
}

.dcc-state-select-3-theme {
   background-color: red;
}