@charset "UTF-8";

/* Trigger DCC */

.dcc-trigger-theme {
   color: #ffffff;
   background-color: #a6a6a6;
   font-weight: bold;

   text-align: center;
   text-decoration: none;
   display: inline-block;
   vertical-align: middle;

   padding: .25rem .5rem;
   font-size: .875rem;
   line-height: 1.5;

   border: 1px solid;
   border-radius: .2rem;
   border-color: #707070;

   margin: .5rem;
}

.dcc-trigger-theme:hover {
   color: #fff;
   background-color: #5a6268;
   border-color: #545b62;
   cursor: pointer;
}

.dcc-trigger-image-theme {
   max-width: 100%;
   max-height: 100%;
   cursor: pointer;
}