@charset "UTF-8";

/* Trigger DCC */

.dcc-button-theme {
   border: 1px solid lightgray;
   border-radius: 5px;
   margin: 5px;
   color: #1d1d1b;   
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: block;
   width: 50%;
}
.dcc-button-theme:hover {
   color: black;
   font-weight: bold;
   cursor: pointer;
}
.dcc-button-image-theme {
   max-width: 100%;
   max-height: 100%;
   cursor: pointer;
}