<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DCCs Playground</title>

  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">

  <link rel="stylesheet" href="../../lib/fontawesome-5-10-1/css/all.min.css">
  <link rel="stylesheet" href="../../lib/bootstrap-4-3-1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/author.css">

  <script src="../../lib/jquery-3-4-1/jquery-3.4.1.slim.min.js"></script>
  <script src="../../lib/popper-1-15-0/popper.min.js"></script>
  <script src="../../lib/bootstrap-4-3-1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../../infra/css/common.css">

</head>

<body>
  <main role="main">

    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Developers</a></li>
          <li class="breadcrumb-item active" aria-current="page">Playground</li>
        </ol>
      </nav>
    </div>

    <div class="container-fluid">
      <h1>DCC Playground</h1>
      <p class="lead">Test your Digital Content Components (DCCs) here.</p>
    </div>

    <!-- Toolbar -->
    <div class="container-fluid">
      <nav class="navbar navbar-light d-flex">
        &nbsp;
      </nav>
    </div>
    <!-- End of toolbar -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <div class="std-panel">
            &nbsp;
          </div>
        </div>
        <div class="col-6">
          <div class="std-panel" >
            &nbsp;
          </div>
        </div>
      </div>
    </div>


  </main>
  <!-- end of div /.container -->

</body>
</html>
